@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;

}

.cont {
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    margin-top: -30px;
    position: relative;

    .header-wrapper {
        width: 100vw;
        height: 70px;
        background-color: #1b1b1b;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100 !important;

    }

    .wrapper-black-header {
        position: fixed;
        left: 0;
        width: 1420px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 20px 352px;
        left: 50%;
        background: #1b1b1b;
        z-index: 100 !important;
        transform: translateX(-50%);

        .logo-header {
            display: block;
            height: 29px;
            transition: 200ms ease;


        }

        .logo-heade:hover {
            stroke: #da4533;
            width: 40px;
            cursor: pointer;
        }

        .number {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: #ffffff;

            .get {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                display: flex;
                align-items: center;
                color: #da4533;
                margin-left: 20px;
            }
        }

        .nav-items {
            display: flex;
            width: fit-content;
            height: fit-content;
            align-items: center;
            gap: 30px;

            .block {
                transition: 200ms ease;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                /* identical to box height, or 26px */

                display: flex;
                align-items: center;

                /* white */

                color: #ffffff;
                cursor: pointer;
            }

            .block:hover {
                color: #da4533;
            }
        }
    }

    .wrapper-black {
        width: 100vw;
        height: 2166px;
        background-image: url("../public/backgroud_black.png");
        mix-blend-mode: multiply;

        .wrapper-black-main {
            position: relative;
            width: 1420px;
            height: 70px;
            width: 100%;
            height: 100%;
            background: #141414e7;

            .main-part {
                display: flex;
                padding-top: 30px;
                margin: 0 auto;
                margin-top: 30px;

                width: fit-content;
                height: fit-content;

                .main-part-left {
                    width: 701px;
                    text-align: left;

                    .main-part-left-title {
                        padding-top: 70px;
                        margin-top: 50px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 160%;
                        /* identical to box height, or 26px */

                        display: flex;
                        align-items: center;
                        text-transform: uppercase;

                        /* grey */

                        color: #8a8a8a;
                    }

                    .main-part-left-title-main {
                        font-family: STIX Two Text;
                        margin-top: 8px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 55px;
                        line-height: 135%;
                        line-height: 1.6em;
                        /* or 74px */

                        /* white */

                        color: #ffffff;
                        margin-bottom: 16px;
                    }

                    .main-part-left-title-info {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 160%;
                        /* or 29px */

                        display: flex;
                        align-items: center;

                        /* grey */

                        color: #8a8a8a;
                        margin-bottom: 32px;
                    }

                    .bottom-left {
                        display: flex;
                        align-items: center;
                        gap: 60px;

                        .pos-bg {
                            position: relative;
                            z-index: 2;
                            width: fit-content;
                        }

                        .shape-icon {
                            position: absolute;
                            top: 0;
                            right: -31px;
                            z-index: 1;
                        }

                        .oval-btn {
                            display: block;
                            border: none;
                            width: 289px;
                            height: 92px;
                            background: #da4433;
                            -moz-border-radius: 100px / 50px;
                            -webkit-border-radius: 100px / 50px;
                            border-radius: 160px / 50px;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 1.6em;
                            /* or 26px */

                            display: flex;
                            align-items: center;
                            text-align: center;

                            /* white */

                            color: #ffffff;
                        }

                        .ob2 {
                            transition: 300ms ease;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 150px;
                            height: 42px;
                            background: transparent;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 160%;
                            /* or 26px */

                            display: flex;
                            align-items: center;
                            text-align: center;
                            -moz-border-radius: 100px / 50px;
                            -webkit-border-radius: 100px / 50px;
                            border-radius: 150px / 50px;

                            /* red */

                            color: #da4533;
                            border: 1px solid #da4533;
                        }

                        .ob2:hover {
                            background: #da4533;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }

                .main-part-right {
                    position: relative;
                    width: 514px;
                    margin-top: 80px;

                    .main-img {
                        position: absolute;
                        top: -30px;
                        z-index: 2;
                        left: -70px;
                    }
                }
            }

            .main-info {
                margin: 0 auto;
                margin-top: 140px;
                display: flex;
                width: fit-content;
                // background-color: chocolate;
                gap: 48px;

                .bgm2 {
                    width: 396px;
                    height: 396px;
                    background-image: url("../public/2 5.png");
                    // background-color: red;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .right-side {
                    .right-side-title {
                        margin-top: 15px;
                        font-family: STIX Two Text;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 38px;
                        line-height: 135%;
                        /* or 51px */

                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;

                        /* white */

                        color: #ffffff;
                    }

                    .right-side-more {
                        font-family: Montserrat;
                        width: 804px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 160%;
                        /* or 26px */

                        display: flex;
                        align-items: center;

                        /* grey */

                        color: #8a8a8a;
                        margin-bottom: 50px;
                    }

                    .right-side-wrapper,
                    .right-side-logos {
                        margin-bottom: 100px;
                        display: flex;
                        gap: 20px;
                        width: 900px;
                        flex-wrap: wrap;

                        .rs-item {
                            transition: 300ms ease;
                            width: 392px;
                            height: 147px;
                            background: rgba(255, 255, 255, 0.05);
                            border-radius: 8px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 20px;

                            .num-item {
                                font-family: STIX Two Text;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 36px;
                                line-height: 45px;
                                display: flex;
                                align-items: center;

                                /* white */

                                color: #ffffff;

                                /* Inside auto layout */

                                flex: none;
                                order: 0;
                                flex-grow: 0;
                                margin: 5px 0px;
                            }

                            .info-item {
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 160%;
                                /* or 26px */

                                display: flex;
                                align-items: center;

                                /* grey */

                                color: #8a8a8a;

                                /* Inside auto layout */

                                flex: none;
                                order: 1;
                                flex-grow: 0;
                                margin: 5px 0px;
                            }
                        }

                        .rs-item:hover {
                            background: rgba(104, 100, 100, 0.288);
                        }
                    }

                    .right-side-logos {
                        .logo-item {
                            width: 392px;
                            height: 119px;
                            background: rgba(255, 255, 255, 0.05);
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 300ms ease;
                            cursor: pointer;

                            img {
                                display: block;
                            }
                        }

                        .logo-item:hover {
                            background: rgba(255, 255, 255, 0.336);
                        }
                    }
                }
            }
        }
    }

    .wrapper-white {
        background-image: url("../public/backgroud_grey.png");
        width: 100vw;
        height: 969px;
        padding-top: 30px;

        .cont-white {
            width: fit-content;
            margin: 0 auto;
            margin-top: 100px;
            position: relative;
            z-index: 1;

            .title-white {
                font-family: STIX Two Text;
                font-style: normal;
                font-weight: normal;
                font-size: 38px;
                line-height: 135%;
                /* or 51px */

                display: flex;
                align-items: center;

                /* black(background) */

                color: #1b1b1b;
            }

            .flex-min {
                margin-top: 16px;
                display: flex;
                margin-bottom: 50px;
                justify-content: space-between;
                gap: 200px;
                width: 100%;

                .ob2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    height: 42px;
                    background: transparent;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    /* or 26px */

                    display: flex;
                    align-items: center;
                    text-align: center;
                    -moz-border-radius: 100px / 50px;
                    -webkit-border-radius: 100px / 50px;
                    border-radius: 150px / 50px;

                    /* red */

                    color: #da4533;
                    border: 1px solid #da4533;
                }

                .flex-info {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    /* or 26px */

                    display: flex;
                    align-items: center;

                    /* grey */

                    color: #8a8a8a;
                    width: 707px;
                }
            }

            .wrapper-forms {
                display: flex;

                width: 100%;
                gap: 20px;

                .form-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    transition: 300ms ease;
                    z-index: 2;
                    width: 289px;
                    height: 400px;
                    background-color: #1b1b1b;
                    border-radius: 8px;
                    position: relative;
                    padding: 20px;

                    .form-item-icon {
                        display: flex;
                        justify-content: flex-end;
                        transition: 300ms ease;

                        svg {
                            stroke: #5c5c5c;
                            transition: 300ms ease;
                        }
                    }

                    .form-img {
                        display: block;

                        width: fit-content;
                        height: fit-content;
                        margin: 0 auto;
                        margin-top: 60px;
                    }

                    .opas {
                        margin-top: 20px;
                        opacity: 0;
                        transition: 300ms ease;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 160%;
                        /* or 29px */

                        display: flex;
                        align-items: flex-end;

                        /* white */

                        color: #ffffff;

                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
                        margin: 5px 0px;
                    }

                    .form-reg-info {
                        transition: 300ms ease;
                        /* SH1 */
                        margin-top: 10px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 160%;
                        /* or 29px */

                        display: flex;
                        align-items: flex-end;

                        /* grey */

                        color: #8a8a8a;
                        width: 239px;
                    }
                }

                .form-item:hover .opas {
                    opacity: 1;
                }

                .form-item:hover .form-item-icon svg {
                    stroke: white;
                    fill: white;
                }
            }

            .sliders {
                margin: 0 auto;
                margin-top: 35px;
                width: fit-content;
                display: flex;
                gap: 20px;

                img {
                    display: block;
                }
            }
        }
    }

    .wrapper-red {
        background-image: url("../public/backgroud_red.png");
        width: 100vw;
        height: 1109px;
        padding-top: 120px;

        .cont-red {
            width: 1070px;
            margin: 0 auto;
            margin-top: 40px;

            .red-title {
                font-family: STIX Two Text;
                font-style: normal;
                font-weight: normal;
                font-size: 38px;
                line-height: 135%;
                display: flex;
                align-items: center;
                color: #ffffff;
            }

            .red-info {
                /* SH2 */
                margin-top: 16px;
                margin-bottom: 50px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                /* identical to box height, or 26px */

                /* white */

                color: #ffffff;

                opacity: 0.75;
            }

            .cont-goals {
                width: 1041px;
                height: 462px;
                background: #1b1b1b;
                border-radius: 10px;
                padding: 40px;

                .goals-header {
                    display: flex;
                    justify-content: space-between;

                    .goal-title {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 160%;
                        display: flex;
                        align-items: center;
                        color: #ffffff;
                        margin-bottom: 30px;
                    }

                    .nums {
                        font-family: STIX Two Text;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 45px;
                        color: #ffffff;

                        .red-num {
                            color: #da4533;
                            font-family: STIX Two Text;
                        }

                        .all-num {
                            color: #ffffff;
                            font-family: STIX Two Text;
                        }
                    }
                }

                .goals-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;

                    .left-goals,
                    .right-goals {
                        display: flex;
                        flex-direction: column;

                        gap: 15px;

                        .item {
                            padding: 18px 20px;
                            width: 473px;
                            height: fit-content;
                            background: #252525;

                            .item-info {
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 160%;
                                /* identical to box height, or 26px */

                                /* white */

                                color: #ffffff;

                                /* Inside auto layout */

                                flex: none;
                                order: 0;
                                flex-grow: 0;
                                margin: 0px 8px;
                            }
                        }

                        .item {
                            cursor: pointer;
                            transition: 300ms ease;
                        }

                        .item:hover {
                            background: #DA4533;
                        }
                    }
                }

                .goals-footer-btns {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;

                    .ob2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 150px;
                        height: 48px;
                        background: transparent;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 160%;
                        /* or 26px */

                        display: flex;
                        align-items: center;
                        text-align: center;
                        -moz-border-radius: 150px / 50px;
                        -webkit-border-radius: 80px / 50px;
                        border-radius: 150px / 48px;

                        /* red */

                        color: #da4533;
                        border: 1px solid #da4533;
                        transition: 300ms ease;
                    }

                    .ob2:hover {
                        background: #da4533;
                        color: white;
                        cursor: pointer;
                    }
                }
            }

            .red-bonus {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 160%;
                /* or 38px */

                display: flex;
                align-items: center;

                /* white */

                color: #ffffff;
                margin-bottom: 25px;
            }

            .red-bottom-bonuses {
                display: flex;
                gap: 20px;

                .item-bonus {
                    display: flex;
                    padding: 16px;
                    align-items: center;
                    background: #1B1B1B;
                    border-radius: 10px;
                    gap: 15px;

                    img {
                        display: block;
                    }

                    .item-bonus-info {
                        width: 256px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 160%;
                        /* or 29px */

                        display: flex;
                        align-items: flex-end;

                        /* white */

                        color: #ffffff;
                    }
                }

                .item-bonus {
                    transition: 300ms ease;
                }

                .item-bonus:hover {
                    background: #302f2f;
                }
            }
        }
    }
}