<template>
  <div class="about">
    <h1>This is an about page</h1>
    <router-link to="/">Go to main page</router-link> 
    <router-view />
  </div>
</template>

 <script>
 export default {
 
 }
 </script>
 
 <style>
.about{
  margin: 0 auto;
}
 </style>
